@import '../../index.scss';

.container {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;

	* {
		color: $dark;
	}

	label {
		display: flex;
		flex-direction: column;
		width: 100%;
		color: $darkmid;
	}
}

.inner-container {
	display: flex;
	flex-direction: row;
}

.styled-container {
	background-color: $offwhite;
	margin: 10px 10px;
	width: 100%;
	border-left: 10px solid $trimary;
	padding: 10px 15px;

	display: flex;
	flex-direction: column;

	& > * {
		margin-bottom: 5px;
		margin-top: 5px;
	}

	label {
		font-size: 0.9em;
	}

	textarea {
		// line-height: 2em;
		padding: 10px;
		width: 100%;
		border: 2px solid $secondary;
		min-height: 10em;
		resize: none;
		white-space: pre;

		&:focus {
			border: 2px solid $primary;
		}
	}

	button {
		$col: $trimary;
		width: fit-content;
		padding: 10px 50px;
		border: none;
		border-left: 10px solid $col;
		// border-radius: 10px;
		background-color: transparentize($col, 0.5);
		cursor: pointer;
		align-self: center;

		&:hover {
			background-color: transparentize($col, 0.75);
		}
		&:active {
			background-color: transparentize($col, 0.25);
		}
	}
}